* {
  font-family: Futura;
  margin: 0;
}

.header {
  height: 60px;
  /* padding: 15px; */
}

.container {
  width: 90%;
  margin: 15px auto;
}

.nav {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
  /* margin-left: 20px; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.nav-link {
  text-align: center;
  color: white;
  margin: 18px;
  position: relative;
}

.logo {
  color: white;
  margin: 8px;
}

a {
  text-decoration: none;
}

.icon {
  margin: 12px;
}

.badge-div {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.item-count {
  box-sizing: border-box;
  padding: 2px;
  border-radius: 50%;
  background-color: red;
  min-width: 25px;
  min-height: 25px;
  position: absolute;
  right: -15px;
  bottom: 15px;
}

.hero-image {
  width: 100%;
  margin-top: 0;
}

.item-container {
  /* width: 99%; */
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.product-image {
  width: 200px;
  height: 200px;
}

.card {
  text-align: center;
  justify-items: center;
  min-height: 400px;
  border-radius: 10px;
  background-color: #e6e6da;
}

.item-count-container {
  display: grid;
  width: 40%;
  margin: 10px auto;
  grid-template-columns: 0.2fr 1fr 0.2fr;
}

.input-count {
  width: 60%;
  margin: auto;
  text-align: center;
}

@media (min-width: 800px) {
  .item-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .item-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}